@tailwind base;
@tailwind components;
@tailwind utilities;

.border-border {
    @apply input-bordered;
}

.loading-indicator {
    display: none;
}

.htmx-request .loading-indicator {
    display: inline;
}

.htmx-request.loading-indicator {
    display: inline;
}
